{{#classes}}
# {{name}}
{{description}}

## Construction
{{#children}}
{{#if (equal name ../name)}}
{{>method~}}
{{/if}}
{{/children}}

## Static methods
{{#functions}}
{{#if (equal scope "static")}}
{{>method parent="Box"~}}
{{/if}}
{{/functions}}

## Members
### size
The box' size

## Instance methods
{{#functions}}
{{#if (equal scope "instance")}}
{{>method~}}
{{/if}}
{{/functions}}

{{/classes}}
