### {{#if parent}}{{parent}}.{{/if}}{{name}}({{#params}}{{#each this}}{{name}}{{#unless @last}}, {{/unless~}}{{/each}}{{/params}})

{{#if description}}
{{{description}}}
{{/if}}

{{#if returns}}
{{#if returns.[0].description~}}
**Returns**: {{#each returns~}}
  {{#if type~}}
  {{#if type.names}}
  {{#each type.names~}}```{{this}}```{{/each}}
  {{/if}}
  {{~#if description}} \- {{{description}}}{{/if~}}
  {{else~}}
  {{{description}~}}
  {{/if~}}
{{~/each}}
{{/if}}{{/if}}

{{#if params}}
{{tableHead params "name|Param" "type|Type" "defaultvalue|Default" "description|Description" ~}}
{{#tableRow params "name" "type" "defaultvalue" "description" ~}}
| {{#if @col1}}{{>param-table-name}} | {{/if~}}
{{#if @col2}}{{#each type.names}}```{{this}}```{{/each}} | {{/if~}}
{{#if @col3}}{{>defaultvalue}} | {{/if~}}
{{#if @col4}}{{{stripNewlines (inlineLinks description)}}} |{{/if}}
{{/tableRow}}

{{/if}}
